<div class="tabs-container">

  <div class="button-tabs" data-target-tabs>
    <button data-tab-target="#cig" class="tab cig-tab">
      <span class="iconify cig-icon icon" data-icon="cil:smoke-slash" data-inline="false"></span>
    </button>
    <button data-tab-target="#saved" class="tab saved-tab" style="background-color: #2D78B8;">
      <span class="iconify money-icon icon" data-icon="dashicons:money-alt" data-inline="false"></span>
    </button>
  </div>

  <div class="tab-content">
    <div id="cig" data-tab-content class="active" style="background-color:#F97676; border-radius: 12px;">
      <p class="info-header">Cigarettes Not Smoked</p>
      <p class="total-amount">25 <span style="font-size: 12px;">cig.</span></p>
      <div class="forecasts">
        <div class="forecast">
          <p>Day</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
        <div class="forecast">
          <p>Week</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
        <div class="forecast">
          <p>Month</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
        <div class="forecast">
          <p>Year</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
      </div>
    </div>

    <div id="saved" data-tab-content style="background-color: #2D78B8; border-radius: 12px;">
      <p class="info-header">Money Saved</p>
      <p class="total-amount" style="margin-left: 5%;"><span style="font-size: 30px;">￥</span>420<span style="font-size:12px;">.00</span></p>
      <div class="forecasts">
        <div class="forecast">
          <p>Day</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
        <div class="forecast">
          <p>Week</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
        <div class="forecast">
          <p>Month</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
        <div class="forecast">
          <p>Year</p>
          <div class="circle">
            <p>24</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
