<div class="tabs-container">
  <div data-target-tabs class="tabs-navigation">
    <ul class="tabs">
      <li data-tab-target="#saved" class="tab">Saved</li>
      <li data-tab-target="#cigs" class="tab">Cig</li>
      <li data-tab-target="#stats" class="tab">Stats</li>
    </ul>

  <div class="tab-content">
    <div id="saved" data-tab-content class="active">
      <p>Cigarettes Not Smoked</p>
      <span class="iconify cig-icon icon" data-icon="cil:smoke-slash" data-inline="false"></span>
      <p class="total-amount">25 cig.</p>
    </div>

    <div id="cigs" data-tab-content>
      <p>Money Saved</p>
      <span class="iconify money-icon icon" data-icon="dashicons:money-alt" data-inline="false"></span>
      <p class="total-amount">￥420.00</p>
    </div>

    <div id="stats" data-tab-content>
      <span class="iconify chart-icon icon" data-icon="si-glyph:column-increase" data-inline="false"></span>
      <p>This is your stats</p>
    </div>
  </div>
</div>
