// Define variables for your color scheme

// For example:
$red: #fd1015;
$light-red: #f97676;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$dark-gray: #0d0b11;
$light-gray: #e5e5e5;
