// Define variables for your color scheme

// For example:
$red: #fd1015;
$light-red: #f97676;
$light-purple: #cfa9fe;
$dark-green: #37463a;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$dark-gray: #030306;
$race-gray: #312f2f;
$light-gray: #e5e5e5;
