h5, p {
  color: #E5E5E5;
}

i {
  color: #8F8F8F;
}

h5 {
  font-weight: 400;
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#back {
  text-align: right;
  padding-top: 1rem;
  a {
    text-decoration: none;
    color: #E5E5E5;
    font-size: 1rem;
    // margin-left: -5px;
  }
}

#diary {
  color: #E5E5E5;
  margin-left: -5px;
  font-size: 2.5rem;
}

.entry-card {
  display: flex;
  border-left: 1px solid #8F8F8F;
  padding-bottom: 10%;
}

.text {
  flex-grow: 1;
  padding-left: 5%;
}

.dot {
  background-color: #E5E5E5;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  left: 22px;
  border-width: 0.3rem;
  border-style: solid;
}