.nav {
  display: flex;
  // padding: 1rem 0;
  justify-content: space-between;
}

#entry-title h1 {
  font-size: 2.5rem;
}

#delete {
  padding-top: 1rem;
  a {
    text-decoration: none;
    color: #F95353;
    font-size: 1rem;
  }
}

.entry {
  display:  flex;
  justify-content: space-between;
  padding-bottom: 1.7rem;
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.smoked {
  color: #0096DE;
}

.overcome {
  color: #00a67a;
}