.diary {
  margin: 0 8%;
}

.title {
  color: #F97676;
  h1 {
    font-weight: 500;
    font-size: 1.8rem;
    padding-top: 3rem;
  }
  p {
    font-size: 0.8rem;
    font-weight: 300;
  }
}

label {
  color: #E5E5E5;
}

// .date {
//   color: #E5E5E5;
// }