.landing-container {
  width: 100vw;
  height: 100vh;

  .banner {
    width: 100vw;
    height: 100vh;
    background-image: asset-url("iphonemockup");
    background-size: cover;
    background-position: 45% 0%;

    .cover-sheet {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.7);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);

      .title {
        grid-column: 1/6;
        grid-row: 2/4;
        align-self: center;
        margin-left: 5vw;
        margin-bottom: 0;

        h1 {
          font-size: 3rem;
          color: white;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          margin-top: 2vh;
          width: 40vw;
          height: 6vh;
          padding: 0;
          font-size: 1.5rem;
          background: linear-gradient(207deg, rgba(79, 78, 233, 1) 0%, rgba(0, 166, 122, 1) 100%);
        }
      }

      .down-arrow {
        position: relative;
        grid-column: 1/6;
        grid-row: 5/6;
        justify-self: center;
        align-self: end;
        font-size: 3rem;
        padding-bottom: 1vh;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes bounce {
        0% {
          top: 0;
        }

        50% {
          top: -10%;
        }

        100% {
          top: 0;
        }
      }
    }
  }

  .about-app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .demo {
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(207deg, #4f4ee9 0%, #00a67a 100%);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      z-index: 2;

      #how-it-works {
        font-size: 3rem;
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
        align-self: center;
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        p {
          font-size: 1.2rem;
        }

        .icons {
          height: 100px;
          width: 100px;
          background-color: transparent;
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          border: solid 2px;
        }
      }

      .info-smoke {
        grid-column: 1/4;
        grid-row: 2/3;
        align-self: end;
      }

      .info-progress {
        grid-column: 1/4;
        grid-row: 3/4;
        align-self: end;
      }

      .info-compete {
        grid-column: 1/4;
        grid-row: 4/5;
        align-self: end;
      }
    }

  }

  .developers-container {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .developers {
      grid-column: 1/6;
      grid-row: 1/2;
      text-align: center;
      margin-top: 2vh;

      .select-one {
        p {
          padding-bottom: 2vh;
        }
        .git-icon {
          font-size: 3rem;
        }
      }
    }

    .git-profiles {
      grid-column: 1/6;
      grid-row: 2/6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 3vh;

      .git-links {
        text-decoration: none;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .names {
          padding-top: 2vh;
          font-size: 18px;
        }
      }

      .git-links:hover {
        text-decoration: none;
        color: white;
      }
    }


    .footer {
      width: 90vw;
      grid-column: 1/6;
      grid-row: 5/6;
      justify-self: center;
      align-self: end;
      border-top: solid;
      border-width: 2px;
      margin-bottom: 2vh;

      .sponsor {
        text-align: right;
        padding-top: 1vh;
        padding-right: 3vw;
      }
    }
  }
}

@media (min-width: 1300px) {
  .landing-container {
    .banner {
      background-size: cover;
      background-position: 0% 50%;

      .cover-sheet {
        .title {
          grid-column: 2/4;
          margin: 0;

          h1 {
            font-size: 5rem;
          }

          p {
            font-size: 2.5rem;
          }
          button {
            width: 20vw;
            height: 7vh;
          }
        }
        .down-arrow {
          position: relative;
          font-size: 4rem;
        }
      }
    }

    .about-app {
      .demo {
        .info-smoke {
          grid-column: 1/3;
          grid-row: 2/3;
        }
        .info-progress {
          grid-column: 2/4;
          grid-row: 3/4;
        }
        .info-compete {
          grid-column: 1/3;
          grid-row: 4/5;
        }
        .info {
          justify-self: center;

          .icons {
            height: 150px;
            width: 150px;
            font-size: 5rem;
          }
          p {
            font-size: 2rem;
            margin-left: 3vw;
          }

          #track-text {
            margin-left: 0;
            margin-right: 3vw;
          }
        }
      }
    }

    .developers-container {

      .developers {
        h4 {
          font-size: 3rem;
        }

        .select-one {
          p {
            font-size: 1.3rem;
          }

          .git-icon {
            font-size: 6rem !important;
          }
        }
      }

      .git-profiles{
        grid-row: 2/6;
        justify-content: space-around;
        flex-direction: row;

        .git-links {
          .names {
            font-size: 25px;
          }
        }
      }

      .footer {
        .sponsor {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .landing-container {
    .banner {
      background-size: cover;
      background-position: 0% 50%;

      .cover-sheet {
        .title {
          grid-column: 2/4;
          margin: 0;

          h1 {
            font-size: 5rem;
          }

          p {
            font-size: 2.5rem;
          }
          button {
            width: 20vw;
            height: 7vh;
          }
        }
        .down-arrow {
          position: relative;
          font-size: 4rem;
        }
      }
    }

    .about-app {
      .demo {
        .info-smoke {
          grid-column: 1/3;
          grid-row: 2/3;
        }
        .info-progress {
          grid-column: 2/4;
          grid-row: 3/4;
        }
        .info-compete {
          grid-column: 1/3;
          grid-row: 4/5;
        }
        .info {
          justify-self: center;

          .icons {
            height: 150px;
            width: 150px;
            font-size: 5rem;
          }
          p {
            font-size: 2rem;
            margin-left: 3vw;
          }

          #track-text {
            margin-left: 0;
            margin-right: 3vw;
          }
        }
      }
    }

    .developers-container {

      .developers {
        h4 {
          font-size: 3rem;
        }

        .select-one {
          p {
            font-size: 1.3rem;
          }

          .git-icon {
            font-size: 6rem !important;
          }
        }
      }

      .git-profiles{
        grid-row: 2/6;
        justify-content: space-around;
        flex-direction: row;

      }

      .footer {
        .sponsor {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: 1600px) {

}

@media (min-width: 1900px) {
  .landing-container {
    .banner {
      background-size: cover;
      background-position: 0% 40%;

      .cover-sheet {
        .title {
          grid-column: 2/4;
          margin: 0;

          h1 {
            font-size: 5rem;
          }

          p {
            font-size: 2.5rem;
          }
          button {
            width: 20vw;
          }
        }
        .down-arrow {
          position: relative;
          font-size: 4rem;
        }
      }
    }

    .about-app {
      .demo {
        .info-smoke {
          grid-column: 1/3;
          grid-row: 2/3;
        }
        .info-progress {
          grid-column: 2/4;
          grid-row: 3/4;
        }
        .info-compete {
          grid-column: 1/3;
          grid-row: 4/5;
        }
        .info {
          justify-self: center;

          .icons {
            height: 150px;
            width: 150px;
            font-size: 5rem;
          }
          p {
            font-size: 2rem;
            margin-left: 3vw;
          }

          #track-text {
            margin-left: 0;
            margin-right: 3vw;
          }
        }
      }
    }

    .developers-container {

      .developers {
        h4 {
          font-size: 4rem;
        }

        .select-one {
          p {
            font-size: 1.5rem;
          }

          .git-icon {
            font-size: 7rem !important;
          }
        }
      }

      .git-profiles{
        grid-row: 2/6;
        justify-content: space-around;
        padding-bottom: 9vh;
        margin-bottom: 3vh;
      }

      .footer {
        .sponsor {
          font-size: 1rem;
        }
      }
    }
  }
}

