.landing-container {
  width: 100vw;
  height: 100vh;

  .banner {
    width: 100vw;
    height: 100vh;
    background-image: asset-url("iphonemockup");
    background-size: cover;
    background-position: 45% 0%;

    .cover-sheet {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.5);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);

      .title {
        grid-column: 1/6;
        grid-row: 2/4;
        align-self: center;
        margin-left: 10vw;
        margin-bottom: 0;
        font-family: 'VT323', monospace;

        h1 {
          font-size: 3rem;
          font-family: 'VT323', monospace;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          margin-top: 2vh;
          width: 30vw;
          padding: 0;
          font-size: 1.5rem;
        }
      }

      .down-arrow {
        grid-column: 1/6;
        grid-row: 5/6;
        justify-self: center;
        align-self: end;
        font-size: 3rem;
        padding-bottom: 1vh;
      }
    }
  }

  .about-app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-background {
      height: 100vh;
      width: 100vw;

      .ocean {
        background-image: asset-url("opensea");
        height: 50vh;
        width: 100vw;
        background-size: cover;
      }

      .crowd {
        background-image: asset-url("crowd");
        height: 50vh;
        width: 100vw;
        background-size: cover;
      }
    }

    .demo {
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0,0,0,0.5);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      z-index: 2;

      #how-it-works {
        font-family: 'VT323', monospace;
        font-size: 3rem;
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
        align-self: center;
      }

      .info {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;

        p {
          font-family: 'VT323', monospace;
          font-size: 1.3rem;
        }

        .icons {
          height: 100px;
          width: 100px;
          background-color: black;
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
        }
      }

      .info-smoke {
        grid-column: 1/4;
        grid-row: 2/3;
        align-self: end;
      }

      .info-progress {
        grid-column: 1/4;
        grid-row: 3/4;
        align-self: end;
      }

      .info-compete {
        grid-column: 1/4;
        grid-row: 4/5;
        align-self: end;
      }
    }

  }

  .developers-container {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .developers {
      grid-column: 1/6;
      grid-row: 1/2;
      text-align: center;
      margin-top: 2vh;

      .select-one {
        p {
          padding-bottom: 2vh;
        }
        .git-icon {
          font-size: 3rem;
        }
      }
    }

    .git-profiles {
      grid-column: 1/6;
      grid-row: 2/5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .git-links {
        text-decoration: none;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .names {
          padding-top: 2vh;
          font-size: 18px;
        }
      }

      .git-links:hover {
        text-decoration: none;
        color: white;
      }
    }


    .footer {
      width: 90vw;
      grid-column: 1/6;
      grid-row: 5/6;
      justify-self: center;
      align-self: end;
      border-top: solid;
      border-width: 2px;
      margin-bottom: 2vh;

      .sponsor {
        text-align: right;
        padding-top: 1vh;
        padding-right: 3vw;
      }
    }
  }
}
