// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "entries_new";
@import "entries";
@import "entry";

body {
  color: #e5e5e5;
}

input[type='submit'] {
  color: #e5e5e5;
}

input[type='submit']:hover {
  color: #e5e5e5;
}
