.profile-container {
  height: 100vh;

  .cards-container {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 90px 90px;
    column-gap: 14px;
    row-gap: 8px;
    margin: 0px 41px 0px 41px;
  }
}
