<div class="diary">
  <div class="title">
    <p id="back"><%= link_to "Back", profile_path %></p>
    <h1 id="diary">Diary</h1>
  </div>
  <div class="entries">
    <% if @entries.empty? %>
      <p>No entries logged yet!</p>
    <% else %>
      <% @entries.each do |entry| %>
        <%= link_to entry_path(entry) do %>
          <div class="entry-card">
            <div class="text">
              <% if entry.cig_smoked == 0 %>
                <div class="dot" style="border-color: #00a67a"></div>
                <p class="date"><%= entry.date %></p>
                <h5 class="craving-title" style="color: #00a67a;">Craving overcome</h5>
              <% else %>
                <div class="dot" style="border-color: #0096DE;"></div>
                <p class="date"><%= entry.date %></p>
                <h5 class="smoked-title" style="color: #0096DE;">Smoked cigarette</h5>
              <% end %>
            </div>
            <div class="arrow">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
