<div class='container'>
  <h1>My Stats</h1>
  <div class="charts">
    <div class="cigarettes-chart">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>

  <%= javascript_pack_tag 'chart' %>

</div>