<div class="landing-container">
  <div class="banner">
    <div class="cover-sheet">
      <div class="title">
        <h1>Nicotine Derby</h1>
        <p>Race to Reduce Smoking</p>

        <%= link_to new_user_session_path do %>
          <button>Login</button>
        <% end %>

      </div>
      <div class="down-arrow">
        <span class="iconify" data-icon="bi:arrow-down-circle" data-inline="false"></span>
      </div>
    </div>
  </div>

  <div class="about-app">
    <div class="about-background">
      <div class="ocean"></div>
      <div class="crowd"></div>
    </div>
    <div class="demo">
      <h2 id="how-it-works">How it Works</h2>
      <div class="info info-smoke">
        <div class="icons">
          <span class="iconify" data-icon="cil:smoke-free" data-inline="false"></span>
        </div>
        <p>Input How Much You Smoke</p>
      </div>
      <div class="info info-progress">
        <p>Keep Track of Your Progress</p>
        <div class="icons">
          <span class="iconify" data-icon="carbon:chart-evaluation" data-inline="false"></span>
        </div>
      </div>
      <div class="info info-compete">
        <div class="icons">
          <span class="iconify" data-icon="emojione-monotone:horse" data-inline="false"></span>
        </div>
        <p>Compete and Win Cash</p>
      </div>
    </div>
  </div>

  <div class="developers-container">

    <div class="developers">
      <h4>Meet Our Developers</h4>
      <div class="select-one">
        <p>Select to See Their Profiles</p>
        <span class="iconify git-icon" data-icon="akar-icons:github-fill" data-inline="false"></span>
      </div>
    </div>

    <div class="git-profiles">
      <%= link_to "https://github.com/OoKiaoO", class: "git-links" do %>
        <div class="avatar" id="OoKiaoO"></div>
        <p class="names">Chiara Campalani</p>
      <% end %>


      <%= link_to "https://github.com/HatAndBread", class: "git-links" do  %>
        <div class="avatar" id="HatAndBread"></div>
        <p class="names">Joshua Hume</p>
      <% end %>


      <%= link_to "https://github.com/Ryu4fly", class: "git-links" do %>
        <div class="avatar" id="Ryu4fly"></div>
        <p class="names">Ryugi Suguro</p>
      <% end %>
    </div>

    <div class="footer">
      <p class="sponsor">Sponsered with <span class="iconify" data-icon="ant-design:heart-outlined" data-inline="false"></span> from Le Wagon</p>
    </div>

  </div>

</div>
