<div class="landing-container">
  <div class="banner">
    <div class="cover-sheet">
        <div class="title">
          <h1>Nicotine Derby</h1>
          <p>Race to Reduce Smoking</p>

          <%= link_to new_user_session_path do %>
            <button>Login</button>
          <% end %>

        </div>
        <div class="down-arrow">
          <span class="iconify" data-icon="bi:arrow-down-circle" data-inline="false"></span>
        </div>
      </div>
    </div>

  <div class="about-app">
    <div class="about-background">
      <div class="ocean"></div>
      <div class="crowd"></div>
    </div>
    <div class="phone-demo">
      <div id="iphonecase">
      </div>
      <div class="screen">
      </div>
    </div>
  </div>
</div>
