<div class="profile-container">
  <div class="open-sea">
    <div class="profile-scoreboard">
      <h5>The Nicotine Derby</h5>
      <div class="score-stats">
        <p id="board-title">Scoreboard</p>
      </div>
    </div>
    <div class="profile-menu">
      <p id="menu-title">MENU</p>
      <div class="menu-options">
        <a href="#">ENTRIES</a>
        <a id="derby" href="#">DERBY</a>
        <%= link_to "LOGOUT", destroy_user_session_path %>
      </div>
    </div>
  </div>
  <div class="crowd-img">
    <%= render "components/profile_info_cards" %>
  </div>
</div>
