<div class="profile-container">
  <div class="open-sea">
    <div class="profile-scoreboard">
      <h5>The Nicotine Derby</h5>
      <div class="score-stats">
        <p id="board-title">Scoreboard</p>
      </div>
    </div>
    <div class="profile-menu">
      <p>MENU</p>
      <div class="menu-options">
        <p>ENTRIES</p>
        <p>DERBY</p>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </div>
    </div>
  </div>
  <div class="crowd-img"></div>
</div>
