.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  margin: 0;
}

.avatar-large {
  width: 60px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

#OoKiaoO {
  background-image: url("https://avatars.githubusercontent.com/u/61822164?v=4");
  box-shadow: 0px 0px 10px 2px #7ef49f;
}

#HatAndBread {
  background-image: url("https://avatars.githubusercontent.com/u/61222965?v=4");
  box-shadow: 0px 0px 10px 2px #CFA9FE;
}

#Ryu4fly {
  background-image: url("https://avatars.githubusercontent.com/u/67157023?v=4");
  box-shadow: 0px 0px 10px 2px #68E2F6;
}

@media (min-width: 1300px) {
  .avatar {
    height: 200px;
    width: 200px;
  }
}
