button {
  background-color: $light-red;
  color: $light-gray;
  border-style: none;
  padding: 8px;
  border-radius: 4px;
}

.link-btn {
  background-color: $light-red;
  color: $light-gray;
  border-style: none;
  padding: 8px;
  margin: 16px;
  border-radius: 4px;
  transition: 0.3s;
  white-space: nowrap;
}

.link-btn:hover {
  color: $light-gray;
  text-decoration: none;
}

.race-btn {
  border-radius: 20px;
  min-width: 100px;
  padding: 8px;
  margin: 8px;
  background-color: transparent;
  white-space: nowrap;
  color: white;
  border-style: solid;
  border-color: white;
}

.race-btn:hover {
  text-decoration: none;
}

.race-nav-btn {
  flex-grow: 1;
  background-color: transparent;
  white-space: nowrap;
  color: white;
  padding: 8px;
  text-align: center;
  border-style: solid;
  border-color: white;
}

.race-nav-btn:hover {
  color: $light-gray;
  text-decoration: none;
}
