.cards {
  width: 140px;
  height: 90px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  p {
    margin: 0;
  }
}

.saved {
  background: linear-gradient(to right top, rgba(43, 43, 43, 0.2) 63%, rgba(165, 144, 52, 0.3), rgba(255, 238, 89, 0.5));

  .dollar-sign {
    font-size: 30px;
  }
}

.cigs {
  background: linear-gradient(to right top, rgba(43, 43, 43, 0.2) 63%, rgba(74, 135, 145, 0.3), rgba(104, 226, 246, 0.5));

  .no-smoking {
    font-size: 30px;
  }
}

.achievements {
  background: linear-gradient(to right top, rgba(43, 43, 43, 0.2) 63%, rgba(80, 112, 73, 0.3), rgba(110, 170, 98, 0.5));

  .award-icon {
    font-size: 30px;
  }
}


.stats {
  background: linear-gradient(to right top, rgba(43, 43, 43, 0.2) 63%, rgba(135, 76, 76, 0.3), rgba(249, 118, 118, 0.5));

  .graph-icon {
    font-size: 30px;
  }
}

.bulletin-cards {
  height: 230px;
  width: 165px;
  border-radius: 12px;
  background: white;
}
