.game {
  font-family: 'VT323', monospace;
  padding: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game-instructions {
  font-size: 16px;
  background-color: $race-gray;
  padding: 8px;
}

#game-btn {
  border-radius: 50%;
  padding: 20px;
  font-size: 42px;
  background-color: red;
  border-style: outset;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  transition: 0.1s;
}

#game-canvas {
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.game-over-screen {
  font-family: 'VT323', monospace;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  .you-lost-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-gray;
    border-radius: 8px;
    width: 250px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    button {
      z-index: 100000;
    }
  }
}

.money-flash {
  animation: blinkingText 0.3s infinite;
  font-family: 'VT323', monospace;
  position: fixed;
  top: 0;
  font-size: 100px;
  font-weight: 900;
  height: 100vh;
  width: 100vw;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  pointer-events: none;
}

@keyframes blinkingText {
  0% {
    color: red;
  }
  49% {
    color: red;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
