.navbar-lewagon {
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background: white;
  position: fixed;
  bottom: 0;
  width: 100vw;

  .icon {
    color: white;
    font-size: 30px;
    justify-self: center;
  }

  .award {
    grid-column: 4/5;
  }

  .add-entry {
    width: 70px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 100px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.toggle-button {
  border: none;
  padding: 0;
  grid-column: 5/6;
}

.logout {
  grid-column: 5/6;
}
