.race-dashboard-container {
  font-family: 'VT323', monospace;
  background-color: $dark-green;
  height: 100vh;
  padding: 8px;
  text-align: center;
  a {
    color: white;
  }
}

.thick-border {
  border-style: solid;
  border-width: 6px;
  border-color: white;
  border-radius: 8px;
  padding: 8px;
}
.small-title {
  font-size: 22px;
  font-weight: 900;
}

.box-column {
  text-align: center;
}
.race-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.race-list-item {
  background-color: $dark-green;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.smaller-title {
  font-size: 18px;
  font-weight: 900;
}
.open-races {
  width: 100%;
  text-align: center;
  max-height: 25vh;
  overflow: scroll;
}

.underline {
  text-decoration: underline;
}

.completed-races {
  width: 100%;
  text-align: center;
  max-height: 25vh;
  overflow: scroll;
}

.menu-box {
  width: 100%;
  text-align: center;
  height: 30vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.center {
  justify-content: center;
}

.dashboard-box {
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $race-gray;
}
