.race-nav {
  display: flex;
  width: 100vw;
  position: fixed;
  z-index: 100;
  margin-bottom: 10px;
}

.race-index {
  font-family: 'VT323', monospace;
}

.race-index-top {
  background-image: asset-url('opensea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.race-index-bottom {
  background-image: asset-url('crowd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.race-index-info-holder {
  position: fixed;
  top: 0px;
  height: 100vh;
  padding: 32px;
  overflow-y: scroll;
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.race-index-card-title {
  font-size: 22px;
}

.race-index-custom-card {
  background-color: $race-gray;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  min-height: 260px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}
