.race-show-top {
  position: fixed;
  top: 0vh;
  font-family: 'VT323', monospace;
  background-image: asset-url('opensea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vw;
  z-index: -1;
}

.race-show-bottom {
  position: fixed;
  top: 50vh;
  background-image: asset-url('crowd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vw;
  z-index: -1;
}

.race-ranking {
  background-color: $race-gray;
  width: 100%;
  padding: 8px;
}

.race-dashboard-returner {
  color: white;
}

.individual-racer-data {
  display: flex;
  justify-content: space-between;
}

.my-bet-display {
  text-align: center;
  border-color: white;
  border-top-style: solid;
  border-radius: 2px;
}

.race-show {
  font-family: 'VT323', monospace;
  padding: 24px;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .smaller-title {
    text-align: center;
  }

  .new-bet-timer-container {
    width: 100%;
  }

  table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
  }
  tr {
    width: 100%;
  }
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
