<div class="first-question">
  <h4>Are you a smoker?</h4>
  <div class="btns-container">
    <button id="yes-button">Yes</button>
    <button id="no-button">No</button>
  </div>
</div>
<div class="num-container" style="display: none">
  <h4 class="question">How many cigarettes do you smoke per day?</h4>
  <div class="num-view">
  </div>
  <div class="num-selector">
    <div class="num-row">
      <div class="num-btn top-left">1</div>
      <div class="num-btn">2</div>
      <div class="num-btn top-right">3</div>
    </div>
    <div class="num-row">
      <div class="num-btn">4</div>
      <div class="num-btn">5</div>
      <div class="num-btn">6</div>
    </div>
    <div class="num-row">
      <div class="num-btn">7</div>
      <div class="num-btn">8</div>
      <div class="num-btn">9</div>
    </div>
    <div class="num-row">
      <div class="num-btn bottom-left">⬅️</div>
      <div class="num-btn">0</div>
      <div class="num-btn bottom-right">OK</div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'habits-new' %>
